* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff
}

div {
  overflow: hidden;
  /* Evita que los elementos floten fuera del contenedor */
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #516091;
  border: 2px solid #333;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav h1 {
  margin: 0;
  /* Elimina el margen del título */
  font-size: 24px;
  /* Ajusta el tamaño del texto del título según sea necesario */
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  /* Muestra los elementos de la lista en línea */
  margin-left: 10px;
  /* Añade un espacio entre los elementos de la lista */
}

nav ul li:first-child {
  margin-left: 0;
  /* Elimina el margen izquierdo del primer elemento de la lista */
}

nav ul li a {
  text-decoration: none;
  color: white;
  /* Cambia el color del texto del enlace según sea necesario */
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 17px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #008AFC;
}

.right_conatct_social_icon {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}

.contact_us {
  background-color: #f1f1f1;
  padding: 120px 0px;
}

.contact_inner {
  background-color: #fff;
  position: relative;
  box-shadow: 20px 22px 44px #cccc;
  border-radius: 25px;
}

.contact_field {
  padding: 60px 340px 90px 100px;
}

.right_conatct_social_icon {
  height: 100%;
}

.contact_field h3 {
  color: #000;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px
}

.contact_field p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.contact_field .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}

.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

.contact_info_sec {
  position: absolute;
  background-color: #2d2d2d;
  right: 1px;
  top: 18%;
  height: 340px;
  width: 340px;
  padding: 40px;
  border-radius: 25px 0 0 25px;
}

.contact_info_sec h4 {
  color: white;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.info_single {
  margin: 30px 0px;
  color: white;
}

.info_single i {
  margin-right: 15px;
}

.info_single span {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}

.info_single a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.info_single a:hover {
  color: yellow;
  text-decoration: none;
}

button.contact_form_submit {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  margin-top: 25px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

button.contact_form_submit:hover {
  color: #008AFC;
}

.socil_item_inner li {
  list-style: none;
}

.socil_item_inner li a {
  color: #fff;
  margin: 0px 15px;
  font-size: 14px;
}

.socil_item_inner {
  padding-bottom: 10px;
}

.footer {
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.footer-icons {
  margin-bottom: 20px;
}

.footer-icons .social-icon {
  color: black;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-icons .social-icon:hover {
  color: #008AFC;
}

.footer-links a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #008AFC;
}

.footer hr {
  border-top: 2px solid black;
}

.footer-bottom {
  color: black;
  text-align: center;
  font-size: 14px;
}