<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="Icon" href="./img/chatbot.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Passion+One:wght@400;700;900&family=Sixtyfour&display=swap"
        rel="stylesheet">
    <title>Bot FING</title>
</head>

<body>

    <div>
        <nav>
            <h1>ASISTENTE VIRTUAL FING UJGH 👨‍💻</h1>
            <ul>
                <li><a href="/home">Pagina Principal</a></li>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </div>

    <!--   Tarjetas-->
    <div class="title-cards">
        <h1>Nosotros UJGH</h1>
        <hr style=" border-top: 2px solid black;">
    </div>
    <div class="container-card">

        <div class="card">
            <figure>
                <img src="./img/ingenieria.jpg">
            </figure>
            <div class="contenido-card">
                <h4>Facultad de Ingenieria</h4>
                <p style="text-align: justify;">La Facultad de Ingeniería de la UJGH es un centro de excelencia
                    académica que forma profesionales competentes y comprometidos con la innovación y el progreso. Con
                    programas de vanguardia y un enfoque práctico, prepara a los estudiantes para enfrentar los desafíos
                    del mundo real y contribuir al avance tecnológico y social. </p>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="./img/sistemas.jpg">
            </figure>
            <div class="contenido-card">
                <h4>ExpoFingNova</h4>
                <p style="text-align: justify; letter-spacing: -1px;">La transformación tecnológica experimenta
                    constantes cambios en las empresas y personas, que van más allá de una evolución digital. Está
                    marcada por escenarios de amplias posibilidades, pero de grandes demandas y fuerte competencia. Esta
                    realidad es particularmente importante puesto que, están manifiestas por la búsqueda de innovación,
                    que convergen en el crecimiento. Por tanto, se hace cada vez más relevante para el desarrollo de la sociedad.
                    Es por ello que, una cultura tecnológica en una sociedad altamente tecnificada conlleva a contar con profesionales cualificados de base tecnológica en los distintos niveles. Desde esa perspectiva, se busca desarrollar competencias y propiciar la investigación, creatividad e innovación para la mejora de los procesos técnicos y las estrategias tecnológicas, aplicados en el contexto en el cual se desenvuelvan.</p>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="./img/Facultad.png">
            </figure>
            <div class="contenido-card">
                <h4>Cursos Ofrecidos</h4>
                <ul>
                    <li>Ofimática.</li>
                    <li>Excel Básico, intermedio y avanzado (III módulos).</li>
                    <li>Electrónica básica,MySQL para Principiante.</li>
                    <li>Cybersecurity básico.</li>
                    <li>Administración de Servidores.</li>
                    <li>Aplicación de Metodología SCRUM como Gestor de Proyectos.</li>
                    <li>Herramientas Tecnológicas basadas en Inteligencias Artificial.</li>
                    <li>Redes y telecomunicaciones.</li>
                    <li>Testing de Software.</li>
                    <li>Mantenimiento de PC.</li>
                </ul>
            </div>
        </div>
    </div>

    <!--Footer-->

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="./img/Logo.png" alt="Logo de la Institución">
            </div>
            <div class="footer-icons">
                <a href="https://www.facebook.com/infoujgh" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/infoujgh?igsh=aDhyamE4cDFqdGlu" class="social-icon"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://ve.linkedin.com/company/universidad-dr-jos%C3%A9-gregorio-hern%C3%A1ndez"
                    class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-links">
                <a href="http://ujgh.edu.ve/directiva/">Autoridades</a>
                <a href="http://ujgh.edu.ve/memorias-digitales/">Memorias Digitales</a>
                <a href="https://openweb-ujgh.ddns.net/index.php/cruge/ui/login">OpenWeb</a>
            </div>
        </div>
        <div class="footer-bottom">
            <hr>
            <p style="color: #002bdc;"> © 2024 Chatbot FING. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>



</body>

</html>